absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asn1crypto
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bert-serving-server
bleach
blinker
blis
bootstrap4
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
comtypes
confection
contourpy
cryptography
cssselect2
cycler
cymem
debugpy
decorator
defusedxml
diagrams
distlib
distro
dj-database-url
Django
django-admin-soft-dashboard
django-cors-headers
django-crispy-forms
django-heroku
django-jazzmin
django-storages
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
docopt
docutils
et-xmlfile
executing
fastapi
fastjsonschema
ffmpy
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gensim
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
googletrans
GPUtil
gradio
gradio_client
graphviz
groq
grpcio
grpcio-status
gTTS
gunicorn
h11
h2
h5py
hpack
hstspreload
html5lib
httpcore
httplib2
httpx
hyperframe
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
keras
kiwisolver
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mpmath
multidict
murmurhash
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
openpyxl
opt-einsum
optree
orjson
oscrypto
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
preshed
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMySQL
pyparsing
pypdf
pypiwin32
pypng
python-bidi
python-dateutil
python-decouple
python-json-logger
python-multipart
pyttsx3
pytz
pywin32
pywinpty
PyYAML
pyzmq
qrcode
referencing
regex
reportlab
requests
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
ruff
safetensors
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
setuptools
shellingham
six
slugify
smart-open
smmap
sniffio
soupsieve
sqlparse
srsly
stack-data
starlette
stripe
svglib
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
tf_keras
thinc
threadpoolctl
tinycss2
tmdbv3api
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
uritools
urllib3
uvicorn
validators
virtualenv
virtualenvwrapper-win
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
whitenoise
widgetsnbextension
wrapt
xhtml2pdf
yarg
yarl
zipp
