
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: rl('static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs">
                <span class="mr-2">
                    <a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a>
                </span>
            </p>
          <center><h2 class="mb-3 bread">Terms and Conditions</h2></center>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-about">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: rl('static/images/about.jpg');">
                  </div>
                  <div class="col-md-6 wrap-about ftco-animate">
            <div class="heading-section heading-section-white pl-md-5">
            
              <section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: rl('static/images/about.jpg');">
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="heading-section heading-section-white pl-md-5">
          <h2 class="mb-4">Rental Terms and Conditions</h2>
          <p>
            We don’t take any sort of securities from customers, please make sure you have attached the relevant documents(Photo+Passport Copy and Visa page +Driving License [Indian/International] ) as prescribed in the booking form.<br> You just need to show as the original documents once you arrive.
          </p>
          <h3>Delivery and Pickup</h3>
          <p>
            First time customer – Vehicle will be delivered at your home address(as per document proof) or  If Airport pickup is needed driver will pick you up from Airport(can provide you the car from airport itself on fulfilling exact booking with all required documents submitted on the website) and will drop you with the vehicle at your home address(only first time). Payment* of rental period should be made in advance on delivery of vehicle.
          </p>
          <p>
            Existing customers– Vehicle will be provided before your arrival or at Home address /Airport /Place of your choice.
          </p>
          <p>
            Our Garage is in Kottayam, Delivery charges from Kottayam Garage and return charges  to Kottayam Garage are applicable on rental (Driver Batta + Fuel Charges).
          </p>
          
          <h3>Rental Period and Mileage</h3>
          <p>
            A day is calculated as per 24 hours from delivery time of car, minimum 1 day rental is charged on delayed timings.
          </p>
          <p>
            There is monthly mileage restriction of 4000 kms, if less than a month it will be 130 kms/day. Extra kms over the rental period are chargeable.
          </p>
          <p>
            NB: For Fortuner, Hycross Hybrid and other Luxury Cars(eg: Audi, BMW, Benz,Jaguar) The daily limit is 100 kms/day
          </p>
          <h3>Accident or Damage to Vehicle</h3>
          <p>
            You need to inform our Operations Team on +919447077049 the same time.
          </p>
          <p>
            Insurance* will be used  only on repair charges above limit^, either case rental for the repair period need to be paid.
          </p>
          <p>
            Collision Repair Limit^ (repair cost below limit need to be fully paid by the customer as per actuals)
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Vehicle Cost</th>
                <th>Collision Repair Limit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Less than Rs 10 lakhs</td>
                <td>Rs 30,000/-</td>
              </tr>
              <tr>
                <td>Above Rs 10 lakhs</td>
                <td>Rs 50,000/-</td>
              </tr>
              <tr>
                <td>Above Rs 20 lakhs</td>
                <td>Rs 75,000/-</td>
              </tr>
            </tbody>
          </table>
          <p>
            * No Claim Bonus+Depreciation to be paid by customer on an insurance claim
          </p>
          <p>
            All traffic rule violations (eg: over speed, signal breaking ..) or any other offenses, during the rental period will be the responsibility of the hirer and the charges or penalty for the same will be charged to the hirer.
          </p>
          <p>
            Please treat the vehicle as your own and keep it clean and tidy. “No smoking or littering inside the car”..
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

      {% endblock content %}